---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <form name="contact" method="POST" data-netlify="true">
        <p>
          <label>your name: <input type="text" name="name" /></label>
        </p>
        <p>
          <label>Your Number: <input type="text" name="number" /></label>
        </p>
        <p>
            <label>Your Email: <input type="email" name="email" /></label>
        </p>

        <p>
            <p>Your Role</p>
            leader<input type="radio" name="op" value="1"><br>
            Follower <input type="radio" name="op" value="2"><br>
</form>
        </p>
        <p>
          <label>Your Role: <select name="role[]" multiple>
            <option value="leader">Leader</option>
            <option value="follower">Follower</option>
          </select></label>
        </p>
        <p>
          <label>Message: <textarea name="message"></textarea></label>
        </p>
        <p>
          <button type="submit">Send</button>
        </p>
      </form>
</Layout>